@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* popup animation */
@keyframes slide-down {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(0); /* Adjust as needed */
    opacity: 1;
  }
}

.open {
  animation: slide-down 0.3s ease-in-out forwards;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #030e0f;
}
::-webkit-scrollbar-thumb {
  background: #04362a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #04362a;
}
